@page "/"

<PageTitle>Messenger</PageTitle>
<div><Login @ref=@login /></div>
<div class="root">
    <div class="chat-tab mobile @chatResp"><ChatTab @ref=@chatTab /></div>
    <div class="message-tab mobile @msgResp"><MessageTab @ref=@msgTab chat=@Global.currentChat /></div>
</div>

@code {
    public ChatTab chatTab;
    public MessageTab msgTab;
    public InputWithButton iwb = new InputWithButton();
    public Login login = new Login();

    public string chatResp = "";
    public string msgResp = "hidden";
    public string hidden = "hidden";
    public string shown = "shown";

    protected override void OnInitialized()
    {
        Chatter.OnChatClosed += () => { chatResp = shown; msgResp = hidden; StateHasChanged(); };
        Global.OnChatClicked += (_chat, avatar) => { chatResp = hidden; msgResp = shown; StateHasChanged(); };
        Global.OnProfileClick += () => { login.Open(); };
    }
}