@page "/"

<PageTitle>Messenger</PageTitle>

<h1>Messenger</h1>

<div class="root">
    <div class="chat-tab"><ChatTab @ref=@chatTab /></div>
    <div class="message-tab"><MessageTab @ref=@msgTab chat=@Global.currentChat/></div>
    <input @bind-value=@userTo type="text" placeholder="User to" />
    <div>
        <input type="text" @bind-value=@nickname />
        <button @onclick="@Login">Login</button>
    </div>
    <div>
        <label>Your address: @address</label>
    </div>
</div>

@code {
    public ChatTab chatTab;
    public MessageTab msgTab;
    private string nickname = "";
    private string userTo = "";
    private string address = "";
    public void Login()
    {
        address = Nethereum.Signer.EthECKey.GenerateKey().GetPublicAddress();
        User usr = new User { id = 0, address = address, name = nickname };
        Global.Init(usr);
    }
}

<!--/*protected override async Task OnInitializedAsync()
    {
        Ws.On("ReceiveMessage", (user, message) =>
        {
            Message msg =
        });
    }*/-->
