<div class="chat-tab-wrapper">
    @for (int i = 0; i < Global.chats.Count; i++)
    {
        Chat chat = Global.chats[i];
        ChatItem chatItem = new ChatItem() { chat = chat };
        chats.Add(chatItem);
        <ChatItem @ref=chatItem chat=chat />
    }
</div>

@code {
    public List<ChatItem> chats { get; set; } = new List<ChatItem>();
}
