<div class="message-wrapper">
    <input class="input" @oninput="UpdateInput" type="text" placeholder="Write a message" />
    <button class="button" @onclick="Click">Send message</button>
</div>

@code {
    public string text = "";
    private void UpdateInput (ChangeEventArgs input)
    {
        text = input.Value is null ? "" : input.Value.ToString();
    }
    [Parameter]
    public EventCallback<string> SendCallback { get; set; }
    public async void Click() {
        await SendCallback.InvokeAsync(text);
    }
}
