<div class="root">
    <div class="msg-stack">
        <MsgStack @ref=@msgStack />
    </div>
    <div class="input">
        <InputMessage @ref=@inputMsg SendCallback="@SendMessage" />
    </div>
</div>

@code {
    public InputMessage inputMsg = new InputMessage();
    public MsgStack msgStack = new MsgStack();
    [Parameter]
    public Chat chat { get; set; }

    private void SendMessage(string text)
    {
        Global.InvokeOnMessageSent(new Message
            {
                id = 0,
                from = Global.user.address,
                text = inputMsg.text,
                to = chat.companion.address,
                date = DateTime.Now,
                route = MsgRoute.outcome,
            });
    }
    protected override void OnInitialized()
    {
        Global.OnChatClicked += (_chat) => { chat = _chat; StateHasChanged(); };
    }
}