.message-tab-wrapper {
    height: 100%;
    width: 100%;
    display: inline-block;
    background-color: #272634
}

.msg-stack {
    position: relative;
    height: 92%;
    display: block;
}

.input {
    position: relative;
    height: 8%;
    bottom: 0px;
    display: block;
    width: 100%;
}
