<div class="msg-stack-wrapper">
    <div>
        @for (int i = 0; i < msgs.Count; i++)
        {
            MsgBase mes = msgs[i];
            switch (mes.message.route)
            {
                case MsgRoute.income:
                    <MsgIn @ref=mes message=@mes.message />
                    break;
                case MsgRoute.outcome:
                    <MsgOut @ref=mes message=@mes.message />
                    break;
            }
        }
    </div>
</div>

@code {
    [Parameter]
    public List<MsgBase> msgs { get; set; } = new List<MsgBase>();
    [Parameter]
    public Chat chat { get; set; } = new Chat();

    public void AddMsg(Message msg)
    {
        msgs.Add(new MsgBase { message = msg });
        StateHasChanged();
    }
}
